@import url("https://api.fontshare.com/v2/css?f[]=general-sans@500,400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@600&display=swap");

/* Variable declaration */
:root {
  --gunmetal: #1a2c38;
  --gunmetal-light: #213743;
  --gunmetal-dark: #0f212e;
  --accent-blue: #3b99dd;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "General Sans", sans-serif;
  width: 436px;
  background: var(--gunmetal);
  outline: 2px solid white; /* DEBUG */
  padding-bottom: 2px;
}

h1 {
  padding: 10px 0;
  font-family: "Clash Display", sans-serif;
  text-align: center;
  color: var(--white);
}

main {
  display: flex;
  width: 96%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 5px;
  background: var(--gunmetal-dark);
}

aside > img {
  width: 20px;
  margin: 10px 0;
}

#display {
  max-height: 280px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  width: 100%;
  min-height: 200px;
}

.contest {
  display: flex;
  width: 370px;
  padding: 6px 8px 6px 10px;
  background: #213743;
  margin-bottom: 12px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
}

.contest--platform {
  align-self: center;
  margin-right: 10px;
  width: 16px;
}

.contest--details {
  max-width: 80%;
  overflow-x: scroll;
  white-space: nowrap;
}

.contest--name {
  font-size: 16px;
  font-weight: 500;
}

.contest--details a {
  color: var(--accent-blue);
  text-decoration: none;
}

.contest--details a:hover {
  color: var(--accent-blue);
  text-decoration: underline;
}

.datetime {
  font-size: 14px;
  color: var(--white);
  margin-top: 6px;
}

.datetime > .separator {
  margin: 0 6px;
}

.live{
  align-self: center;
  margin-left: auto;
  height: 40px;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.bell {
  align-self: center;
  margin-left: auto;
  width: 36px;
  padding: 8px 2px 8px 14px; /* skew the bell icon to the right */
}

footer {
  width: 422px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  border-radius: 5px;
  padding: 0 6px;
  background: var(--gunmetal-dark);
}

footer img {
  width: 18px;
  align-self: center;
  margin: 6px;
}
